# NextAuth.js Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# Database
# For development (SQLite)
# DATABASE_URL="file:./dev.db"
# For production (PostgreSQL)
DATABASE_URL="postgresql://username:password@host:port/database"
